@model CoreIdentityProject.ViewModels.UserViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br/>
     
<div class="col-md-4 offset offset-md-4">
    <h4 class="alert-info">Yeni Kullanıcı Oluştur</h4>

</div>

<div class="row">
    <div class="col-md-4 offset offset-md-4">
        <form asp-action="SignUp" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <label asp-for="UserName" class="control-label"></label> 
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="UserName" class="form-control"/>

            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>  
            <br/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />   
                <div>
                    <a asp-action="Index">Anasayfaya geri dön</a>
                </div>
            </div>
        </form>
    </div>
</div>



